/* pink collagen color --- rgba(255, 84, 106, 0.69) */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.main {
    background-color: rgba(196, 196, 196, 0.5);
}

.navbar {
    background-color: rgba(196, 196, 196, 0.5);
}

.navbar img {
    width: 240px;
    height: 90%;
}

#shop-now {
    font-size: 2em;
    font-weight: 800;
    color: rgba(255, 84, 106, 0.69);
}

#product-image {
    width: 100%;
    height: 100%;
}

/* #true-science-tagline {
    margin-top: -30px;
} */

.tagline {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.3em;
}

#warning {
    width: 100%;
    height: 80%;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

.btn {
    background-color: rgba(255, 84, 106, 0.50);
    color: #464646;
    font-size: 1.3em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: rgba(255, 84, 106, 0.9);
}

#featured-products-title {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.9em;
    margin-top: 20px;
}

.products-gray-back {
    width: 100%;
    height: 60%;
    border-radius: 5px;
    margin-bottom: 10px;


}

#nrf-2-collagen-image {
    width: 100%;
    height: 45%;
}

.headline {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.9em;
}

#comparison {
    width: 100%;
    height: 85%;
    border-radius: 5px;

}

#collagen-testimonial-image {
    height: 90%;
    width: 100%;
    border-radius: 5px;

}