/* pink collagen color --- rgba(255, 84, 106, 0.69) */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 1.2em;

}

.bold {
    font-weight: 900;
}

.badge {
    background-color: #00a7e0;
    font-size: 0.7em;
    height: auto;
}

.main {
    background-color: rgba(196, 196, 196, 0.5);

}

#main-description {
    margin-bottom: 30px;
}



.navbar {
    background-color: rgba(196, 196, 196, 0.7);
    position: absolute;
    width: 100%;
    z-index: 9999;

}

.nav-item {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.navbar img {
    width: 240px;
    height: 90%;
}

#shop-now {
    font-size: 2em;
    font-weight: 800;
    color: rgba(255, 84, 106, 0.69);
    outline: black;
}

#shop-now:hover {
    color: rgba(255, 84, 106, 0.9);
}

#product-image {
    width: 100%;
    height: 90%;
    margin-top: 60px;
}

#get-the-glow {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    text-align: center;
}

/* #true-science-tagline {
    margin-top: -30px;
} */

.tagline {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.4em;
    text-align: center;
}

#warning {
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

.btn {
    background-color: rgba(255, 84, 106, 0.50);
    color: #464646;
    font-size: 1.3em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: rgba(255, 84, 106, 0.9);
    color: rgba(0, 0, 0, 1)
}

.section-heading {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.9em;
    margin-top: 20px;
}

.subheading {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.6em;
    margin-top: 25px;
}

/* .products-gray-back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;


} */

/* #nrf-2-collagen-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#comparison {
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#collagen-testimonial-image {
    height: 90%;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

} */

.image {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.free-trial-headline {
    color: rgba(255, 84, 106, 0.69);
    font-size: 2em;
    font-weight: 700;
}

.thirty-day-supply {
    font-size: 1em;
    font-family: arial;
    text-align: center;
}

.quote-border-left {
    background: #f9f9f9;
    border-left: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;


}

.quote-border-right {
    background: #f9f9f9;
    border-right: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;


}

blockquote:before {
    color: rgba(255, 84, 106, 0.69);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

}

blockquote:after {
    color: rgba(255, 84, 106, 0.69);
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

}

blockquote p {
    display: inline;
    font-size: 1.2em;

}

.resource {
    margin-bottom: 30px;
}

.resource a {
    text-decoration: none;
}

.resource h3 {
    /* text-align: center; */
    font-size: 1.2em;
    color: rgba(0, 0, 0, 1);

}

.bi {
    font-size: 1.4em;
    color: rgba(255, 84, 106, 0.69);
    margin-right: 10px;

}

#footer {
    background-color: rgba(196, 196, 196, 0.2);
}

#footer p {
    font-size: 0.8em;
    padding: 10px;
}

.justify-text {
    text-align: justify;

}

.row {
    display: flex;
    align-items: center;

}