*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

p {
    font-size: 1.2em;
}

.badge {
    background-color: rgb(0, 167, 224);
    font-size: 0.7em;
    height: auto;
}

.icon-container {
    height: 60%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
}

/* Section styling */
.main {
    background-color: #fff;
    padding: 10px;
}

.featured-products {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.comparison {
    background-color: #fff;
    padding: 10px;
}

.photo-gallery {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.testimonials {
    background-color: #fff;
    padding: 10px;
}

.influencers {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.why {
    background-color: #fff;
    padding: 10px;
}

.resource {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.footer {
    background-color: #fff;
    font-size: 0.8em;
    padding: 10px;
}

.main-image {
    margin-top: 3.5em;
}

.main-title h1 {
    font-size: 3em;
}

#main-description {
    margin-bottom: 30px;
}

#main-description p {
    font-size: 1.3em;
}

#main-button {
    width: 60%;
}

#shop-now {
    font-size: 2em;
    font-weight: 800;
    color: rgba(255, 84, 106, 0.69);
    outline: black;
}

#shop-now:hover {
    color: rgba(255, 84, 106, 0.9);
}

.product-image {
    border-radius: 5px;
    border: 1px solid rgba(255, 84, 106, 0.1);
    box-shadow: rgba(255, 84, 106, 0.1) 0px 5px 15px;
}

#get-the-glow {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    text-align: center;
}

.tagline {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.4em;
    text-align: center;
}

.btn {
    background-color: rgba(255, 84, 106, 0.50);
    color: #464646;
    font-size: 1.3em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: rgba(255, 84, 106, 0.9);
    color: rgba(0, 0, 0, 1)
}

.section-heading {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.9em;
    margin-top: 20px;
}

.subheading {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.6em;
    /* margin-top: 25px; */
}

.img-thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.image {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
    width: 100%;
}

.before-after-image {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.free-trial-headline {
    color: rgba(255, 84, 106, 0.69);
    font-size: 2em;
    font-weight: 700;
}

.thirty-day-supply {
    font-size: 1em;
    font-family: arial;
    text-align: center;
}

.quote-border-left {
    background: #f9f9f9;
    border-left: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.quote-border-right {
    background: #f9f9f9;
    border-right: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

blockquote:before {
    color: rgba(255, 84, 106, 0.69);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: rgba(255, 84, 106, 0.69);
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1.2em;
}

.resource {
    margin-bottom: 30px;
}

.resource a {
    text-decoration: none;
}

.resource h3 {
    /* text-align: center; */
    font-size: 1.2em;
    color: rgba(0, 0, 0, 1);
}

.bi {
    font-size: 1.4em;
    color: rgba(255, 84, 106, 0.69);
    margin-right: 10px;
}

.testimonial-row {
    display: flex;
    align-items: center;
}

/* Helper classes */

.bold {
    font-weight: 900;
}

.justify-text {
    text-align: justify;
}

/*Navbar */

.navbar {
    background-color: rgba(255, 84, 106, 0.15);
    width: 100%;
    z-index: 9999;
    position: absolute;
}

#logo {
    height: 70px;

    width: auto;


}

.nav-item {
    font-size: 1.3em;
    margin-right: 20px;
    color: #fff;
    font-weight: 800;
}

.nav-link {
    color: #000;
    font-size: 0.9em;
    font-weight: 800;
}

.navbar img {
    width: 240px;
    height: 90%;
}


/* form styling */

.form-control {
    height: 3em;
    background-color: rgba(255, 84, 106, 0.15);
}

.form-label {
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 1.3em;
}




@media screen and (max-width: 400px) {
    .main-title h1 {
        font-size: 3em;

    }
}