*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

p {
    font-size: 1.2em;
}

#header-image {
    height: 100px;
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.badge {
    background-color: rgb(0, 167, 224);
    font-size: 0.7em;
    height: auto;
    margin-top: 25vh;
}

#true-confidence-row {
    margin-top: -40px;
    margin-bottom: 40px;
}

#true-confidence-slogan {
    width: 100%;
    height: 100%;

}

.icon-container {
    height: 60%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
}

/* Section styling */
.main {
    background-color: #ffffff;
    padding: 10px;
}

.ingredients {
    background-image: radial-gradient(rgba(255, 84, 106, 0.2), rgba(255, 255, 255, 1));
}

.featured-products {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.comparison {
    background-color: #fff;
    padding: 10px;
}

.photo-gallery {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.testimonials {
    background-image: radial-gradient(rgba(255, 84, 106, 0.2), rgba(255, 255, 255, 1));
}

.influencers {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.why {
    background-color: #fff;
    padding: 10px;
}

.resource {
    background-color: rgba(212, 212, 212, 0.2);
    padding: 10px;
}

.footer {
    background-color: #fff;
    font-size: 0.8em;
    padding: 10px;
}

.main-image {
    margin-top: 2em;
    position: relative;
    top: 0;
    left: 0;
}

.main-title {
    font-size: 2.5em;
}

#health-icons {
    animation: fadeIn 1s ease forwards;
}

.social-icons {
    align-items: center;
    justify-content: center;
    display: flex;
}

.social-icons i {
    margin-left: 10px;
    font-size: 1.9em;
}

#main-description {
    margin-bottom: 30px;
}

#main-description p {
    font-size: 1.3em;
}

#main-button {
    background-color: rgba(255, 84, 106, 0.50);
    width: 80%;
    color: white;
    font-size: 1.1em;
    border: none;
    font-weight: 600;
    border: 2px solid rgba(255, 84, 106, 0.2);
    height: 3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#main-button:hover {
    background-color: white;
    color: black;
    transition: .6s ease;
}

#consultant-button {
    background-color: #fff;
    border: 2px solid rgba(255, 84, 106, 0.2);
    width: 80%;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    height: 3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#consultant-button:hover {
    background-color: rgba(255, 84, 106, 0.50);
    border: 2px solid rgba(255, 84, 106, 0.2);
    transition: .6s ease;
    color: #fff;
}

#shop-now {
    font-size: 1em;
    font-weight: 800;
    color: rgba(255, 84, 106, 0.69);
    outline: black;
}

#shop-now:hover {
    color: rgba(255, 84, 106, 0.9);
}

.product-image {
    border: 1px solid rgba(255, 84, 106, 0.1);
    box-shadow: rgba(255, 84, 106, 0.1) 0px 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#get-the-glow {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    text-align: center;
}

.tagline {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.4em;
    text-align: center;
}

.btn {
    background-color: rgba(255, 84, 106, 0.50);
    color: #464646;
    font-size: 1.3em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: rgba(255, 84, 106, 0.9);
    color: rgba(0, 0, 0, 1)
}

.section-heading {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.9em;
    margin-top: 20px;
}

.subheading {
    font-family: "Playfair Display", serif;
    color: rgba(255, 84, 106, 0.69);
    font-size: 1.6em;
    /* margin-top: 25px; */
}

.img-thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.image {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
    width: 100%;
}

.before-after-image {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.free-trial-headline {
    color: rgba(255, 84, 106, 0.69);
    font-size: 2em;
    font-weight: 700;
}

.thirty-day-supply {
    font-size: 1em;
    font-family: arial;
    text-align: center;
}

.quote-border-left {
    background: #f9f9f9;
    border-left: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.quote-border-right {
    background: #f9f9f9;
    border-right: 10px solid rgba(255, 84, 106, 0.69);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

blockquote:before {
    color: rgba(255, 84, 106, 0.69);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: rgba(255, 84, 106, 0.69);
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1.2em;
}

.resource {
    margin-bottom: 30px;
}

.resource a {
    text-decoration: none;
}

.resource h3 {
    /* text-align: center; */
    font-size: 1.2em;
    color: rgba(0, 0, 0, 1);
}

.bi {
    font-size: 1.4em;
    color: rgba(255, 84, 106, 0.69);
    margin-right: 10px;
}


/* Helper classes */

.bold {
    font-weight: 900;
}

.justify-text {
    text-align: justify;
}

/*Navbar */

.navbar {
    background-color: rgba(255, 84, 106, 0.5);
    width: 100%;
    z-index: 9999;
    position: absolute;
    transition: background-color 0.3s ease-in-out;
}

.navbar-toggler {
    margin-right: 7px;
}

#logo {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.nav-item {
    font-size: 1.3em;
    margin-right: 20px;
    color: #fff;
    font-weight: 800;
}

.nav-link {
    color: #000000;
    font-size: 0.9em;
    font-weight: 800;
    margin-left: 1px;
}

.nav-link:hover {
    color: rgba(255, 84, 106, 0.9);
    transition: .2s;
}

.navbar img {
    width: 240px;
    height: 90%;
}

/* form styling */

.form-control {
    height: 3em;
    background-color: rgba(255, 84, 106, 0.15);
}

.form-label {
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 1.3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 84, 106, 0.15);
    font-family: 'Playfair Display', serif;
}

.card img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.card h2 {
    color: rgba(255, 84, 106, 0.7);
}

.card p {
    font-size: 0.7em;
}

*/ .price {
    color: grey;
    font-size: 22px;
}

.video-embed {
    min-width: 280px;
    min-height: 157px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#quote {
    text-align: right;
    font-size: 0.9em;
    color: rgb(184, 184, 184);
}

#author {
    text-align: right;
    font-size: 0.7em;
    color: rgb(184, 184, 184);
}

.why-collagen-icons {
    width: 80px;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

header img {
    height: 20vh;
    width: 100%;
}

.ingredients img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.ingredients-category-title {
    color: rgba(255, 84, 106, 0.6);
    font-size: 2.2em;
}

.ingredients-category-description {
    padding: 12px;
    font-size: 1.3em;
}

.ingredients-call-to-action {
    margin-top: 20px;
    font-size: 2.6em;
    font-weight: 800;
}

.doc-links {
    font-size: 0.9rem;
}

@media screen and (max-width: 400px) {
    .main-title h1 {
        font-size: 3em;

    }

    #comparison-chart {
        margin-top: 30px;
    }

    .why-icon-text {
        font-size: 0.8em;
    }

    .badge {
        margin-top: -40px;
    }

    .main-image-slogan {
        width: 30%;
        position: absolute;
        top: 470px;
        left: 220px;
        animation: rotate 9s infinite linear forwards;
    }
}